
* {
    margin: 0px;
    padding: 0px;
}

body {
    color: gray;
    /*background-size: cover;*/
    /*background: #aac4bc; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg, #aac4bc 0%, #eca8a8 100%, #eed5a9 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #aac4bc 0%, #eca8a8 100%, #eed5a9 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg, #aac4bc 0%, #eca8a8 100%, #eed5a9 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfd8dc', endColorstr='#b0bec5', GradientType=1); !* IE6-9 fallback on horizontal gradient *!*/

    background-color: #1A1C1E;
}

form {
    width: 80%;
    /*height: 80%;*/
    margin: 65px auto 0px auto;
    background-color: white;
    border: 1px solid gray;
    /*border-radius: 8px;*/
    padding: 20px 10px;
    box-sizing: border-box;
    /*text-align: center;*/
}


form h1 {
    text-align: center;
    /*color: cornflowerblue;*/
    color: #0aac8e;
    font-size: 22px;
    letter-spacing:3px;
}

form .divCenter {
    margin: 15px 0px;
    text-align: center;
}

form .divCenter input {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 22px;
    /*font-family: "YouYuan";*/
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 0px solid lightgray;
    color: #1A1C1E;
}

.summaryTextarea {
    display: inline-block;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    border: 1px solid lightgray;
    min-height: 100px;
    /*border-radius: 8px;*/
    font-size: 18px;
    /*font-family: "YouYuan";*/
    vertical-align: top;
    color: #1A1C1E;
    padding: 15px 10px;
    box-sizing: border-box;
}

.contentTextarea {

    display: inline-block;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    border: 1px solid lightgray;
    min-height: 300px;
    /*border-radius: 8px;*/
    font-size: 18px;
    /*font-family: "YouYuan";*/
    vertical-align: top;
    color: #1A1C1E;
    padding: 15px 10px;
    box-sizing: border-box;
}

.butt {

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #0aac8e;
    font-size:16px;
    color: white;
    font-weight: bold;
    height: 40px;
    border: none;
    /*border-radius: 10px;*/
    width: 100px;
    cursor: pointer;
}

.butt:hover {
    /*color: #0aac8e;*/
    background-color: #1A1C1E;
    /*background-color: #B9BDB7;*/
}

#h1Div {
    position:relative;
    text-align: center;
    margin-top: -7px;
}
.fh{
    position:absolute;
    top: 7px;
}

#returnTop {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    float: left;
    outline: none;
    margin-left: -4px;
    margin-top: -14px;
    background-color: #0aac8e;
    color: white;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    background-image: url("/img/left.png");
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

#returnTop:hover {
    background-color: #1A1C1E;
    /*background-color: #BDBDBD;*/
}

.titleDiv{
    width: 85%;
    margin:0 auto;
    position:relative;
}
.titleNumberDiv{
    position:absolute;
    bottom:2px;
    right: 12px;
}
.SACDiv{
    width: 85%;
    margin:0 auto;
    position:relative;
}
.SACNumberDiv{
    position:absolute;
    bottom: 8px;
    right: 10px;
}