/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */


.sub-page {
    font-family: 'Microsoft YaHei UI', serif;
    color: #666;
    background: black;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
    position: relative;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

/* ---------------------------------------------------------------------------- */

.container_title {
    min-height: 150px;
    padding: 90px 0 0;
}


.header_PL {
    min-height: 90px;
    padding: 50px 0 0;
}

.site-branding_PL {
    display: inline-block;
    float: left;
    margin: 0px;
}

h2.site-description_PL {
    margin: 7px;
    padding-left: 1.2em;
    font-size: 14px;
    font-weight: 300;
}

.site-title_PL, .site-description_PL {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
}

h1.site-title_PL {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 1em;
}

h1.site-title_PL a {
    color: #fff;
    margin: 0;
}

h1.site-title_PL a:hover {
    text-decoration: none;
}


.site-branding {
    display: inline-block;
    float: left;
    margin: 0;
}

h2.site-description {
    margin: 7px;
    padding-left: 1.2em;
    font-size: 14px;
    font-weight: 300;
}

.site-title, .site-description {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
}

h1.site-title {
    font-size: 31px;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 1em;
}

h1.site-title a {
    color: #fff;
    margin: 0;
}

h1.site-title a:hover {
    text-decoration: none;
}

.social-links {
    float: right;
}

.social-links i.fa {
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    font-size: 27px;
    margin: 0 4px;
}


.main-content {
    margin: 0 0 0px;
    background: #fff;
}


.main-content_PL {
    margin: 0 0 20px;
    background: #fff;
}


@media (max-width: 767px) {
}


.article:after, .article:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.time {
    font-size: 13px;
}

.article .info {
    margin: 5px 0 10px 0;
}

.article .info span {
    display: block;
}

.article .info a {
    font-size: 18px;
    color: black;
    /*font-weight: bold;*/
    text-decoration: none;
}

.article .info pre {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    font-family: 'Microsoft YaHei UI', serif;
    color: #666;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    background-color: white;
    margin-left: 0px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.article .info a:hover {
    color: #000;
}

.article h1 {
    font-size: 30px;
    outline: none;
}


.article .art-content {
    padding: 50px 50px 20px 50px;
}


/*评论边距*/
.article_PL .art-content {
    padding: 30px 50px 35px 50px;
}

.article_PL .info {
    margin: 5px 0 10px 0;
}

.article_PL .info span {
    display: block;
}

.article_PL .info a {
    font-size: 16px;
    font-weight: bold;
    color: #0aac8e;
    outline: none;
    text-decoration: none;
}

.article_PL .info a:hover {
    color: #000;
}


#sidebar {
}

.widget {
    padding: 0px 50px 50px 50px;
}
.widgetUpdate {
    /*padding: 0px 50px 50px 50px;*/
}


.widget:after, .widget:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.widget ul li {
    list-style: none;
}

.widget .heading {
    margin: 0px 0;
}

.wid-related h4 {
    font-weight: 500;
    font-size: 20px;
}

.bottomHeight {
    height: 140px;
}

#divIdea{
    display:none;
    /*border: 1px solid red;*/
    width:100%;
    height:60px;
    text-align: center;
}


#idea{
    border: none;
    background-color: white;
    margin-left: -7px;
    outline: none;color: #0aac8e;
}

#comment{
    color: #0aac8e;
    width:100%;
    height:100%;
    resize: none;
    outline: none;
    border: none;
}

#comment::placeholder {
    color: #0aac8e;
}


.updateDivIdea{
    display:none;
    /*border: 1px solid red;*/
    width:100%;
    height:60px;
    text-align: center;
}


.updateIdea{
    border: none;
    margin-left: -7px;
    background-color: white;
    outline: none;color: #0aac8e;
}

.deleteIdea{
    border: none;
    /*float:right;*/
    /*margin-right: 1000px;*/
    /*left: 150px;*/

    margin-right: 40px;
    margin-left: 40px;
    background-color: white;
    outline: none;color: #0aac8e;
}
.updateComment{
    color: #0aac8e;
    width:100%;
    height:100%;
    resize: none;
    outline: none;
    border: none;
}

.photoDiv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-image: url("");*/
    float:right;

}

.headingPL{
    margin-top: 10px;
}

.pLtime{
    float: right;
}
#hidden_frame{
    display:none;
}
.forM{
    margin-bottom: 0px;
}


#returnTop,#returnIntel{
    outline: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border:none;
    background-color:#0aac8e;
    border-radius: 50%;
    text-align: center;
    position:fixed;/*fixed固定定位，指定元素位置并固定，位置不变*/
    width:36px;
    height:36px;
}

#returnTop:hover,#returnIntel:hover{
    background-color: white;
}

.topAndIntel{
    outline: 0;
    padding: 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: black;
    display:block;
    font-size: 26px;
}
.topAndIntel:hover{
    color:#0aac8e;
}

#returnTop{
    bottom:40px;
    right:40px;
}
#returnIntel{
    top:40px;
    left:40px;
}

#user{
    color: white;
    outline: none;
}

