
body {
    font-family: 'Microsoft YaHei', serif;
    color: #666;
    background: #1A1C1E;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
    position: relative;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none
}


html {
     -webkit-text-size-adjust: none;
}

.video embed, .video object, .video iframe {
     width: 100%;
      height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

figure {
    margin: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #111;
}

p {
    color: #816943;
}

a {
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #333;
}

input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="search"], textarea, .form-control, select {
    border: 2px solid #E7E7E7;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 1.2;
    margin: 10px 0;
    outline: medium none;
    padding: 5px 10px 0;
    transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    width: 100%;
    background-color: transparent;
    border: 2px solid #444444;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.t-center {
    text-align: center;
    margin: 0 auto;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.post {
}

.post:after, .post:before, article:after, article:before, section:after, section:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after, .clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.text-primary {
    color: #0AAC8E;
}

hr {
    max-width: 50px;
    border-color: #0AAC8E;
    border-width: 5px;
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------Content------------------------------------ */
/* ---------------------------------------------------------------------------- */


.box-content.box-1 .box-item {
    background-color: #fff;
    margin: 0 auto 30px;
    max-width: 500px;

}

.box-content.box-1 .box-item:hover img {
    opacity: 0.9;
}

.box-content.box-1 .box-item .content {
    padding: 10px 30px 30px;
}

.box-content.box-1 .box-item img {
    width: 100%;
}

.box-content.box-1 .box-item a {
    color: #0aac8e;
    font-weight: bold;
}

.box-content.box-1 .box-item .content h3 {
    font-weight: 500;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.box-content.box-1 .box-item .content span {
    color: #bbb;
    font-size: 15px;
}

/* ----------------- */
/* ---MainContent--- */
#main-content {
    margin: 80px 0 80px;
    background: #fff;
}

@media (max-width: 767px) {
}

article {
}

article:after, article:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

article .info {
    margin: 5px 0 10px 0;
}

article .info span {
    display: block;
}

article .info a {
    color: #17B3E8;
    text-decoration: none;
}

article .info a:hover {
    color: #1A1C1E;
}

article h1 {
    font-size: 30px;
}

article h2 {
    font-size: 22px;
}

article img {
    width: auto;
}

article .art-content {
    padding: 50px;
}


/* ------------------------------------Button---------------------------------- */
.btn {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

a.btn:focus {
    outline: 0;
}

.btn-skin {

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 14px;
    padding: 7px 20px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    background-color: #0AAC8E;
}
.btn-skin:hover{
    background-color: #86d993;
}

.photoSelect{
    border:2px solid black;
    height: 388px;
}

.man{
    height: 42px;
    padding-bottom: 13px;

}
.man1{
    padding-top: 13px;
}
.man2{
    padding-top: 18px;
}
.man3{
    padding-top: 23px;
}