/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */


body {
    font-family: 'Microsoft YaHei', serif;
    color: #666;
    background: #ADD8E6;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
    position: relative;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html {
     -webkit-text-size-adjust: none;
}

.video embed, .video object, .video iframe {
     width: 100%;
      height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

figure {
    margin: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #111;
}

p {
    color: #816943;
}

a {
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #333;
}

hr {
    max-width: 50px;
    border-color: #0AAC8E;
    border-width: 5px;
}

/* ---------------------------------------------------------------------------- */


.navbar-default {
    border-color: transparent;
    background-color: #1A1C1E;
}

.navbar-default .navbar-brand {
    font-family: Microsoft YaHei, Arial, cursive;
    color: #0AAC8E;
    outline: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ddd;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
}








/* ---------------------------------------------------------------------------- */
/* ---------------------------------Content------------------------------------ */
/* ---------------------------------------------------------------------------- */
.dianZan{
    outline: none;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    color: #222;
    background-color: #fff;
    transition-duration: 0.4s;
}
.dianZanStop{
    outline: none;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    color: #222;
    background-color: #fff;
    transition-duration: 0.4s;
}
.dianZan:hover {
    background-color: #0aac8e;
    color: #fff;
}

.dianZan i {
    /*margin-left: 7px;*/
    margin-top: 7px;
    /*position: center;*/
}

.shanChu{

    outline: none;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    background-color: #0aac8e;
    color: #fff;
    transition-duration: 0.4s;
}
.shanChu:hover {
    color: #222;
    background-color: #fff;

}

.shanChu i {
    /*margin-left: 7px;*/
    margin-top: 7px;
    /*position: center;*/
}


#page-content a {
    outline: none;
}

/* ---HomePage--- */
.index-page .box-content {
    padding: 100px 0;
}

.index-page .box-content.box-1 {
    margin-top: -90px;
}

@media (max-width: 767px) {
    .index-page .box-content.box-1 {
        margin-top: 0;
    }
}

.box-content.box-1 .box-item {
    background-color: #fff;
    width: 340px;
    /*max-width: 340px;*/
    /*max-height: 318px;*/
    height: 330px;
    border-radius: 0px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.box-content.box-1 .box-item .content {
    padding: 10px 30px 30px;
}

.box-content.box-1 .box-item #readMore {
    color: #0aac8e;
    font-weight: bold;
}

.box-content.box-1 .box-item .content h3 {
    font-weight: 500;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

span {
    color: #bbb;
    font-size: 15px;
}
.ZYZW{
    font-size: 18px;
    color: #fec503;
}


/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

a.btn:focus {
    outline: 0;
}





.addDiv {
    position: relative;
    width: 340px;
    height: 320px;
}


.anDiv{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    top:10px;
}

.anDiv2{
    position: absolute;
    width: 35px;
    height: 35px;
    left:110px;
    bottom:0px;
}

.anDiv3{
    position: absolute;
    height: 35px;
    right:35px;
    bottom:0px;
}
.anDiv3 li{
    width: 39px;
}

.titleDiv{
    width: 280px;
    height: 50px;
    word-wrap: break-word;
}

.summaryDiv{
    width: 280px;
    height: 55px;
}

.contentDiv{
    width: 280px;
    height: 80px;
}
.weRq{
    word-wrap: break-word;
}
.readMoreDiv{
    width: 280px;
    height: 45px;
}
.zuoZheDiv{
    width: 280px;
    height: 25px;
}
.ZZNameSpan{
    float: right;
}


