/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */


body {
    font-family: 'Microsoft YaHei', serif;
    color: #666;
    background: #1A1C1E;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
    position: relative;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html {
     -webkit-text-size-adjust: none;
}

.video embed, .video object, .video iframe {
     width: 100%;
      height: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

figure {
    margin: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #111;
}

p {
    color: #816943;
}

a {
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #333;
}

hr {
    max-width: 50px;
    border-color: #0AAC8E;
    border-width: 5px;
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Navbar------------------------------------ */
/* ---------------------------------------------------------------------------- */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: Microsoft YaHei, Arial, cursive;
    color: #0AAC8E;
    outline: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ddd;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #ddd;
    background: none;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
}

@media (min-width: 768px) {
    .navbar-default {
        padding: 20px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .navbar-default.navbar-shrink .nav li a {
        color: #ddd;
    }

    .navbar-default.navbar-shrink .nav li a:hover,
    .navbar-default.navbar-shrink .nav li a:focus {
        color: #fff;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

/* Carousel Styles */
.carousel-inner {
    position: relative;
    z-index: -1;
}

.carousel-inner::before {
    background: rgba(0, 0, 0, 0.6) linear-gradient(transparent, #1a1c1e) repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.carousel-inner img {
    width: 100%;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 30px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}


.carousel-inner > .item {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    height: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    padding-left: 0;
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 25%;
    left: 8%;
    right: auto;
    width: 85%;
    color: #fff;
    z-index: 9999;
    border-bottom: 2px solid #fff;
    padding-bottom: 60px;
}

.header-text h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    font-size: 65px;
}

.header-text hr {
    margin: 30px auto;
}

.header-text p {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

.header-text .btn-primary {
    background-color: #0AAC8E;
    border: none;
    padding: 10px 20px;
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------Content------------------------------------ */
/* ---------------------------------------------------------------------------- */
.dianZan{
    outline: none;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    color: #222;
    background-color: #fff;
    transition-duration: 0.4s;
}
.dianZan:hover {
    background-color: #0aac8e;
    color: #fff;
}

.dianZan i {
    /*margin-left: 7px;*/
    margin-top: 7px;
    /*position: center;*/
}

.shanChu{

    outline: none;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    background-color: #0aac8e;
    color: #fff;
    transition-duration: 0.4s;
}
.shanChu:hover {
    color: #222;
    background-color: #fff;

}

.shanChu i {
    /*margin-left: 7px;*/
    margin-top: 7px;
    /*position: center;*/
}


#page-content a {
    outline: none;
}

/* ---HomePage--- */
.index-page .box-content {
    padding: 100px 0;
}

.index-page .box-content.box-1 {
    margin-top: -300px;
}

@media (max-width: 767px) {
    .index-page .box-content.box-1 {
        margin-top: 0;
    }
}

.box-content.box-1 .box-item {
    background-color: #fff;
    width: 340px;
    /*max-width: 340px;*/
    /*max-height: 318px;*/
    height: 330px;
    border-radius: 5px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.box-content.box-1 .box-item .content {
    padding: 10px 30px 30px;
}

.box-content.box-1 .box-item #readMore {
    color: #0aac8e;
    font-weight: bold;
}

.box-content.box-1 .box-item .content h3 {
    font-weight: 500;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

span {
    color: #bbb;
    font-size: 15px;
}
.ZYZW{
    font-size: 18px;
    color: #fec503;
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------Footer------------------------------------ */
/* ---------------------------------------------------------------------------- */
footer {
    color: #444;
    font-size: 13px;
}

footer ul {
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    list-style: none;
}

footer a {
    color: #444;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .col-footer {
    margin: 10px 0 30px;
}

footer .wrap-footer {
    padding: 40px 0;
    background-color: #EAECEE;
}

footer .bottom-footer {
    background-color: #EAECEE;
    color: #fff;
    text-align: center;
    padding: 20px 0px 30px;
}

footer .bottom-footer a {
    font-weight: bold;
}

footer .bottom-footer a:hover {
    color: #444;
}

footer ul.social-buttons li a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    color: #222;
    background-color: #fff;
    transition-duration: 0.4s;
    outline: none;
}

footer ul.social-buttons li a:hover {
    background-color: #0aac8e;
    color: #fff;
}

footer ul.social-buttons li a i {
    margin-top: 7px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 13px;
}

a.btn:focus {
    outline: 0;
}





.addDiv {
    position: relative;
    width: 340px;
    height: 320px;
}


.anDiv{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    top:10px;
}

.anDiv2{
    position: absolute;
    width: 35px;
    height: 35px;
    left:140px;
    bottom:0px;
}
.anDiv21{
    position: absolute;
    height: 35px;
    left:35px;
    bottom:-5px;
}
.anDiv3{
    position: absolute;
    height: 35px;
    right:35px;
    bottom:0px;
}
.anDiv3 li{
    width: 39px;
}

.titleDiv{
    width: 280px;
    height: 50px;
    word-wrap: break-word;
}

.summaryDiv{
    width: 280px;
    height: 55px;
}

.contentDiv{
    width: 280px;
    height: 80px;
}
.weRq{
    word-wrap: break-word;
}
.readMoreDiv{
    width: 280px;
    height: 45px;
}
.zuoZheDiv{
    width: 280px;
    height: 25px;
}
.ZZNameSpan{
    float: right;
}


.hiddenForm{
    display: none;
}

.aShou{
    cursor: pointer;
}

.photoDiv {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-image: url("");*/
    float:right;

}